.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.container:after {
    clear: both;
    content: "";
    display: table;
}
@media (max-width: 700px) {
    .containter {
        width: 100%;
    }
}